Menu(
    title: "Bevy Trivia",
    children: [
        SubMenu((
            label: "Play",
            menu: Play,
            variant: Some(Primary)
        )),
        SubMenu((
            label: "Settings",
            menu: Settings,
            variant: None,
        )),
        SubMenu((
            label: "Credits",
            menu: Credits,
            variant: None,
        )),
        Spacer,
        Button((
            label: "Quit",
            action: Quit,
            variant: None,
        )),
    ],
)
