Menu(
    title: "Bevy Trivia",
    main_menu: true,
    children: [
        SubMenu((
            label: "Join Game",
            menu: JoinGame,
            variant: Primary,
        )),
        SubMenu((
            label: "Host Game",
            menu: HostGame,
        )),
        SubMenu((
            label: "Settings",
            menu: Settings,
        )),
        SubMenu((
            label: "Credits",
            menu: Credits,
        )),
        Spacer,
    ],
)
